#purplebtn
    .box
        padding: 50px 0
        .btn
            border: 5px solid #965a88
            background-color: #965a88
            font-size: 20px
            color: #ffff
            width: 200px
            height: 100px
            padding: 10px
            transition: 1s
            &:hover
                border: 5px solid #965a88
                background-color: #55374e
